*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary_font: 'Share Tech Mono', monospace;
  --secondary_font: 'Roboto Mono', monospace;

  --horizontal: 1rem;
  --vertical: 2rem;
}

@media (min-width: 320px) {
  :root {
    --horizontal: 2rem;
  }
}

@media (min-width: 768px) {
  :root {
    --horizontal: 4rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --horizontal: 6rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --horizontal: 8rem;
  }
}

@media (min-width: 1920px) {
  :root {
    --horizontal: 10rem;
  }
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: var(--vertical) var(--horizontal);
}

.header__title {
  font-family: var(--primary_font);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.header__description {
  font-family: var(--secondary_font);
  font-size: 1rem;
  text-align: center;
}
