*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary_font: 'Share Tech Mono', monospace;
  --secondary_font: 'Roboto Mono', monospace;

  --primary_color: #2c3e50;

  --horizontal: 1rem;
  --vertical: 2rem;
}

@media (min-width: 320px) {
  :root {
    --horizontal: 2rem;
  }
}

@media (min-width: 768px) {
  :root {
    --horizontal: 4rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --horizontal: 6rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --horizontal: 8rem;
  }
}

@media (min-width: 1920px) {
  :root {
    --horizontal: 10rem;
  }
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #D3CCE3;
  background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
  color: var(--primary_color);
}

a {
  text-decoration: none;
}

.root {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--vertical) var(--horizontal);
}

.header__title {
  font-family: var(--primary_font);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.header__description {
  font-family: var(--secondary_font);
  font-size: 1rem;
  text-align: center;
  max-width: 768px;
}








.footer {
  padding: var(--vertical) var(--horizontal);
  display: flex;
  justify-content: center;
}

.footer__text {
  font-family: var(--primary_font);
  font-size: 1rem;
  font-style: normal;
}

.footer__link {
  color: var(--primary_color);
}
