*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

:root {
  --primary_font: 'Share Tech Mono', monospace;
  --secondary_font: 'Roboto Mono', monospace;

  --primary_color: #2c3e50;
  --secondary_color: #D3CCE3;
  --tertiary_color: #502c3e;
  --horizontal: 1rem;
  --vertical: 2rem;

  --console_factor: 768 / 1366;
  --console_width: 100vw;
  --console_border_radius: 2rem;
  --console_padding: 1rem;
}

@media (min-width: 320px) {
  :root {
    --horizontal: 2rem;
  }
}

@media (min-width: 768px) {
  :root {
    --horizontal: 4rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --horizontal: 6rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --horizontal: 8rem;
  }
}

@media (min-width: 1920px) {
  :root {
    --horizontal: 10rem;
  }
}

@media (orientation: landscape) {
  :root {
    --console_factor: 1366 / 768;
  }
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: var(--secondary_color);
  color: var(--primary_color);
}

a {
  text-decoration: none;
}

.root {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--vertical) var(--horizontal);
}

.header__title {
  font-family: var(--primary_font);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.header__title::-moz-selection, .header__title::selection {
  background-color: var(--primary_color);
  color: var(--secondary_color);
}

.header__description {
  font-family: var(--secondary_font);
  font-size: 1rem;
  text-align: center;
  max-width: 768px;
}

.header__description::-moz-selection, .header__description::selection {
  background-color: var(--primary_color);
  color: var(--secondary_color);
}

.console {
  aspect-ratio: var(--console_factor);
  width: calc(100% - var(--horizontal) * 2);
  max-width: 768px;
  margin: var(--vertical) auto;
  border: solid 0.2rem var(--primary_color);
  border-radius: var(--console_border_radius);
  padding: var(--console_padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.console__label {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 0.5rem;
  align-items: center;
}

.console__input {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  background: none;
  padding: 0.5rem 0;
  caret-color: var(--primary_color);
  border-bottom: solid 0.15rem var(--primary_color);
  font-family: var(--primary_font);
  color: var(--primary_color);
}

.console__input:focus {
  outline: none;
}

.console__icon {
  font-family: var(--primary_font);
  font-size: 1.5rem;
}

.console__screen {
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-color: var(--primary_color) var(--secondary_color);
}

.console__screen::-webkit-scrollbar {
  width: 6px;
}

.console__screen::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--primary_color);
}

.console__screen::-webkit-scrollbar-track {
  background-color: var(--secondary_color);
  border-radius: 6px;
}

.console__text {
  font-family: var(--secondary_font);
  font-size: 1.5rem;
  margin-left: calc(var(--console_padding) + 0.5rem);
}


.footer {
  padding: var(--vertical) var(--horizontal);
  display: flex;
  justify-content: center;
}

.footer__text {
  font-family: var(--primary_font);
  font-size: 1rem;
  font-style: normal;
}

.footer__link {
  color: var(--primary_color);
}

.footer__link::-moz-selection, .footer__link::selection {
  background-color: var(--primary_color);
  color: var(--secondary_color);
}
